.appNavbar {
  width: 140px;
  position: fixed;
  z-index: 100;
  background-color: #1e2736;
  height: 100%;
  transition: transform 0.2s ease-in-out, width 0.2s ease-in-out;
  top: 0px;
}
.appNavbar .title {
  background-repeat: no-repeat;
  text-align: center;
  height: 84px;
  line-height: 66px;
  width: 100%;
}
.appNavbar .title img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
.appNavbar section {
  padding-top: 16px;
}
.appNavbar .nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.appNavbar .nav:before {
  display: table;
  content: " ";
}
.appNavbar .nav .liClass {
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
  position: relative;
  cursor: pointer;
}
.appNavbar .nav .liClass:first-child {
  border-top: 0;
}
.appNavbar .nav .liClass .dropdown-toggle {
  display: block;
  height: 50px;
  line-height: 48px;
  padding: 0 16px 0 7px;
  background-color: #1e2736;
  color: #fff;
  border-radius: 0;
  text-shadow: none!important;
  font-size: 13px;
  text-decoration: none;
  position: relative;
  cursor: pointer;
}
.appNavbar .nav .liClass .dropdown-toggle i {
  display: inline-block;
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  margin-right: 2px;
  height: 51px;
  width: 37px;
  margin-left: -7px;
  line-height: 51px;
}
.appNavbar .nav .liClass .dropdown-toggle .menu-text {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0;
  top: -1px;
  left: 38px;
  width: 103px;
  display: block;
  position: absolute;
  height: 51px;
  line-height: 50px;
  z-index: 100;
  padding-left: 2px;
  transition: transform 0.2s ease-in-out;
}
.appNavbar .nav .liClass .activeA {
  background-color: #2f3a4e;
  color: #1fbf86;
}
.appNavbar .nav .liClass .submenuDiv {
  position: absolute;
  left: 140px;
  z-index: 120;
  top: -2px;
  display: none;
  margin-top: 2px;
  background-color: #2f3a4e;
  border-radius: 0px 3px 3px 0px;
  overflow: hidden;
}
.appNavbar .nav .liClass .submenuDiv .menuDiv {
  float: left;
  margin-bottom: 20px;
}
.appNavbar .nav .liClass .submenuDiv .menuDiv .first {
  height: 50px;
  background-color: #2f3a4e;
  color: #fff;
  font-size: 15px;
  text-align: left;
  line-height: 47px;
  font-weight: 600;
  margin-left: 46px;
}
.appNavbar .nav .liClass .submenuDiv .menuDiv .first .round {
  width: 8px;
  height: 8px;
  background-color: #fff;
  border-radius: 8px;
  margin-right: 8px;
  margin-left: -35px;
  display: inline-block;
}
.appNavbar .nav .liClass .submenuDiv .menuDiv .submenu {
  width: 115px;
  margin: 0;
  padding: 0;
  float: left;
}
.appNavbar .nav .liClass .submenuDiv .menuDiv .submenu li {
  padding: 0;
  margin: 0;
  border: 0;
  position: relative;
  cursor: pointer;
  list-style-type: none;
}
.appNavbar .nav .liClass .submenuDiv .menuDiv .submenu a {
  color: #fff;
  background-color: #2f3a4e;
  font-size: 13px;
  padding-left: 20px;
  display: block;
  height: 32px;
  line-height: 32px;
  border-radius: 0;
  text-shadow: none!important;
  text-decoration: none;
  position: relative;
  cursor: pointer;
}
.appNavbar .nav .liClass .submenuDiv .menuDiv .submenu a:hover {
  color: #1abc9c;
}
.appNavbar .nav .liClass .submenuDiv .menuDiv:last-child .dashLine {
  display: none;
}
.appNavbar .nav .liClass .submenuDiv .dashLine {
  width: 1px;
  top: 0;
  margin-top: 45px;
  display: inline-block;
  border-left: 1px dashed #525761;
  position: absolute;
  height: calc(70%);
  z-index: 1;
}
.appNavbar .sider-toggle {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0;
  cursor: pointer;
  height: 30px;
  color: #fff;
  font-size: 15px;
}
.packNavbar {
  width: 50px;
  position: fixed;
  z-index: 100;
  background-color: #1e2736;
  height: 100%;
  transition: transform 0.2s ease-in-out, width 0.2s ease-in-out;
}
.packNavbar .title {
  height: 84px;
  line-height: 66px;
  background-repeat: no-repeat;
}
.packNavbar .title img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
.packNavbar section {
  padding-top: 16px;
}
.packNavbar .nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.packNavbar .nav:before {
  display: table;
  content: " ";
}
.packNavbar .nav .liClass {
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
  position: relative;
  cursor: pointer;
}
.packNavbar .nav .liClass:first-child {
  border-top: 0;
}
.packNavbar .nav .liClass .dropdown-toggle {
  display: block;
  height: 50px;
  line-height: 48px;
  padding: 0 16px 0 7px;
  background-color: #1e2736;
  color: #fff;
  border-radius: 0;
  text-shadow: none!important;
  font-size: 13px;
  text-decoration: none;
  position: relative;
  cursor: pointer;
}
.packNavbar .nav .liClass .dropdown-toggle i {
  display: inline-block;
  text-align: center;
  font-size: 16px;
  font-weight: normal;
  margin-right: 2px;
  height: 51px;
  width: 50px;
  margin-left: -7px;
  line-height: 51px;
}
.packNavbar .nav .liClass .dropdown-toggle .menu-text {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0;
  top: -1px;
  left: 38px;
  width: 103px;
  display: none;
  position: absolute;
  height: 51px;
  line-height: 50px;
  z-index: 100;
  padding-left: 2px;
}
.packNavbar .nav .liClass .activeA {
  background-color: #2f3a4e;
  color: #1fbf86;
}
.packNavbar .nav .liClass .submenuDiv {
  position: absolute;
  left: 50px;
  z-index: 120;
  top: -2px;
  display: none;
  margin-top: 2px;
  background-color: #2f3a4e;
  border-radius: 0px 3px 3px 0px;
  overflow: hidden;
}
.packNavbar .nav .liClass .submenuDiv .menuDiv {
  float: left;
  margin-bottom: 20px;
}
.packNavbar .nav .liClass .submenuDiv .menuDiv .first {
  height: 50px;
  background-color: #2f3a4e;
  color: #fff;
  font-size: 15px;
  text-align: left;
  line-height: 47px;
  font-weight: 600;
  margin-left: 46px;
}
.packNavbar .nav .liClass .submenuDiv .menuDiv .first .round {
  width: 8px;
  height: 8px;
  background-color: #fff;
  border-radius: 8px;
  margin-right: 8px;
  margin-left: -35px;
  display: inline-block;
}
.packNavbar .nav .liClass .submenuDiv .menuDiv .submenu {
  width: 115px;
  margin: 0;
  padding: 0;
  float: left;
}
.packNavbar .nav .liClass .submenuDiv .menuDiv .submenu li {
  padding: 0;
  margin: 0;
  border: 0;
  position: relative;
  cursor: pointer;
  list-style-type: none;
}
.packNavbar .nav .liClass .submenuDiv .menuDiv .submenu a {
  color: #fff;
  background-color: #2f3a4e;
  font-size: 13px;
  padding-left: 20px;
  display: block;
  height: 32px;
  line-height: 32px;
  border-radius: 0;
  text-shadow: none!important;
  text-decoration: none;
  position: relative;
  cursor: pointer;
}
.packNavbar .nav .liClass .submenuDiv .menuDiv .submenu a:hover {
  color: #1abc9c;
}
.packNavbar .nav .liClass .submenuDiv .dashLine {
  width: 1px;
  top: 0;
  margin-top: 45px;
  display: inline-block;
  border-left: 1px dashed #525761;
  position: absolute;
  height: calc(70%);
  z-index: 1;
}
.packNavbar .sider-toggle {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0;
  cursor: pointer;
  height: 30px;
  color: #fff;
  font-size: 15px;
}
